<section id="contact" class="link-section responsive">
    <div class="wrapper">
        <h2 id="contact-heading" class="section-heading">Contact Me</h2>
        <form id="contact-form" action="#" method="post" novalidate="" >
            <fieldset>
                <p class="form-fields">
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" id="firstName" class="text-input">
                </p>
                <p class="form-fields">
                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName" class="text-input">
                    
                </p>
                <p class="form-fields">
                    <label for="phone">Phone:</label>
                    <input type="text" name="phone" id="phone" class="text-input">
                </p>
                <p class="form-fields">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="text-input" placeholder="example@email.com">
                </p>
                <p class="form-comment">
                <label for="comment" class="textlabel">Comment:</label>
                <textarea name="comment" id="comment" rows="6"></textarea>
                </p>
                <p class="form-submit">
                <input type="submit" name="submit" value="Submit" id="submit">
                </p>
            </fieldset>
        </form>
    </div>     
</section>