<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Leon Hsu, Website Developed to boost your business and attain your business needs. Discover more here.">
  <meta name="keywords" content="Leon, Website Developer, Website Designer, SEO, Digital Marketing, Lead Generation, Brand Awareness">
  <meta name="robots" content="index"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner&family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/font/flaticon.css">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="icon" href="assets/designs/compass-ark-studios-icon.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js" defer></script>
  <script src="scripts/min/animate.js" defer></script>
  <title>Leon Hsu Portfolio</title>
</head>
<body id="home">
    <header id="header">
        <nav id="header-nav">
            <div id="logo">
                <h2><a href="#home"><img id="logo-design" src="assets/designs/leonhsulogo.png" alt="Leon Hsu Logo"></a></h2>
            </div>
            <ul  class="nav-links">
                <li><a href="#home" onclick="pageReload()">Home</a></li>
                <li><a href="#aboutme" onclick="pageReload()">About</a></li>
                <li><a href="#skills" onclick="pageReload()">Skills</a></li>
                <li><a href="#portfolio" onclick="pageReload()">Portfolio</a></li>
                <li><a href="#contact" onclick="pageReload()">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

      {{{body}}}

    <footer id="footer">
        <nav id="social" class="link-section">
          <h2><a href="index.html"><img id="footer-logo" src="assets/designs/leonhsulogo.png" alt="Leon Hsu Logo"></a></h2>
            <div class="social-container">
                
                <a href="mailto:someone@example.com"><div class="contact-links"><i class="fas fa-envelope-square"></i></div></a>
                <a href="https://github.com/leonhsu95"><div class="contact-links"><i class="fab fa-github"></i></div></a>
                <a href="https://www.linkedin.com/in/leonhsu95/"><div class="contact-links"><i class="fab fa-linkedin"></i></div></a>
            </div>
        </nav>
        <small>&copy;2021 Leon Hsu | All Rights Reserved</small>
      
    </footer> 
    <script src="scripts/min/nav.js"></script>
    <script src="scripts/min/form-validation.js"></script>
</body>
</html>