<div id="banner">
    <div class="banner-container wrapper">
      <img src="assets/designs/leon-banner-responsive.png" alt="Leon Hsu Banner">
    </div>
</div>
      
<main id="about-me">
        <section id="intro" class="link-section flex-container responsive">
            <div id="section-container" >
                <div class="section-left">
                  <h1 class="section-heading">MERN Full Stack Web Developer in Sydney, Australia</h1>
                  <p>
                    I work with businesses, startups and freelance projects to develop websites and design creative assets that pushes businesses up 
                    in SEO and Marketing. Websites are customised, robust and responsive to client satisfaction. 
                  </p>
                  <a class="call-to-action" href="#portfolio">See My Projects</a>
                  <a class="call-to-action" href="https://drive.google.com/file/d/13uuLFLcWRzo_fG-REAjAbIgm9tmCNdlI/view?usp=sharing">Resume</a>
                </div>
                <div id="creativity-banner-scroll" class="picture-scroll section-right"></div>
            </div>
        </section>

        <section id="skills" class="responsive">         
            <div id="skills-icon" class="wrapper">
              <h2 class="section-heading">Skills</h2>
              <div class="skills-box panel"><i class="fab fa-html5"></i><p>HTML</p></div>
              <div class="skills-box panel"><i class="fab fa-css3-alt"></i><p>CSS</p></div>
              <div class="skills-box panel"><i class="fab fa-js"></i><p>JavaScript</p></div>
              <div class="skills-box panel"><i class="fab fa-node"></i></i><p>Node JS</p></div>
              <div class="skills-box panel"><i class="fab fa-php"></i><p>PHP</p></div>
              <div class="skills-box panel"><i class="fab fa-wordpress"></i><p>WordPress</p></div>
              <div class="skills-box panel"><i class="flaticon-adobe-illustrator"></i><p>Illustrator</p></div>
              <div class="skills-box panel"><i class="flaticon-adobe-photoshop-logo"></i><p>Photoshop</p></div>
            </div>
        </section>

        <section id="portfolio" class="link-section responsive">
          <div class="wrapper">
            <h2 class="section-heading wrapper">Portfolio</h2>
            <p class="subtitle">Press Thumbnail to View Projects. For thumbnails with a Github Icon, press Project Name for Repo</p>
            <div id="works-square">
              
              <div id="project1" class="square-container">
              <h3><a href="https://github.com/leonhsu95/Projectify">Projectify</a></h3>
              <div class="works-container">
                  <a href="https://projectify-marketing-app.herokuapp.com/"><img class="square" src="assets/designs/projectify-square.png" alt="Projectify">
                  <div class="overlay">
                    <div class="works-text"><p><span class="works-tag1">Team Project</span><br><span class="works-tag2">Projectify</p></div>
                  </div>
                  </a>
              </div>
            </div>

            <div id="project2" class="square-container">
              <h3><a href="https://github.com/leonhsu95/ReaCharity">Reacharity</a></h3>
              <div class="works-container">
                  <a href="https://leonhsu95.github.io/ReaCharity/"><img class="square" src="assets/designs/reacharity-screenshot.png" alt="Reacharity">
                  <div class="overlay">
                    <div class="works-text"><p><span class="works-tag1">Team Project</span><br><span class="works-tag2">Learning Delights <br> Book Club</span></p></div>
                  </div>
                  </a>
              </div>
            </div>

            <div id="project3" class="square-container">
              <h3><a href="https://github.com/leonhsu95/weather-dashboard">Weather Dashboard</a></h3>
                <div class="works-container">
                    <a href="https://leonhsu95.github.io/weather-dashboard/"><img class="square" src="assets/designs/weather-dashboard-screenshot.png" alt="Weather Dashboard">
                    <div class="overlay">
                      <div class="works-text"><p><span class="works-tag1">Solo Project</span><br><span class="works-tag2">Weather Dashboard</span></p></div>
                    </div>
                    </a>
                </div>
            </div> 
            
            <div id="project4" class="square-container">
              <h3>Learning Delights Book Club</h3>
                <div class="works-container">
                    <a href="https://learningdelights.com.au/"><img class="square" src="assets/designs/learningdelights.png" alt="Learning Delights Book Club">
                    <div class="overlay">
                      <div class="works-text"><p><span class="works-tag1">Blogging</span><br><span class="works-tag2">Learning Delights <br> Book Club</span></p></div>
                    </div>
                    </a>
                </div>
            </div> 

            <div id="project5" class="square-container">
              <h3>Sydney Contacts</h3> 
              <div class="works-container">
                <a href="https://sydneycontacts.com.au/"><img class="square" src="assets/designs/sydneycontacts.png" alt="Sydney Contacts">
                <div class="overlay">
                <div class="works-text"><p><span class="works-tag1">WooCommerce Dropship</span><br><span class="works-tag2">Sydney Contacts</span></p></div>
                </div>
                </a>
              </div>
            </div>

            <div id="project6" class="square-container">
              <h3>Idol Eyes Australia</h3>       
              <div class="works-container">
                <a href="https://idoleyes.com.au/"><img class="square" src="assets/designs/idoleyes.png" alt="Idoleyes Australia">
                <div class="overlay">
                  <div class="works-text"><p><span class="works-tag1">WooCommerce Dropship</span><br><span class="works-tag2">Idol Eyes Australia</span></p></div>
                </div>
                </a>
              </div>
            </div>
          </div>
          </div>

        </section>

        <section id="about-contact" class="wrapper">
          <div class="contact-box panel"><i class="fas fa-phone"></i><p>0433659968</p></div>
          <div class="contact-box panel"><i class="fas fa-envelope-square"></i><p>leonhsu95@gmail.com</p></div>
          <div class="contact-box panel"><i class="fab fa-github"></i><p>leonhsu95</p></div>
      </section>
      
      {{>contact}}
      
    </main>